#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  transition: background-color 1s, color 1s; 
}

.logo {
  height: 2.5em; 
  padding: 1.5em; 
  will-change: filter;
  transition: filter 300ms;
}

body.darkmode .logo {
  filter: brightness(0) invert(1); 
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: rgb(188, 188, 188);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  z-index: 1000;
  transition: background-color 0.3s;
}

ul {
  list-style-type: none; 
  margin: 0;
  padding: 0;
}

#navbarLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 34px;  
}

/* Dark mode styles */
body.darkmode {
  background-color: #1e1e1e; 
  color: #e0e0e0; 
}

body.darkmode .navbar {
  background-color: #333;
}

body.darkmode #navbarLinks a {
  color: #e0e0e0;
}

div.darkmode {
  background-color: #121212;
  color: #e0e0e0;
}

/* body.darkmode .dashboard-container {
  background-color: #1e1e1e; 
  color: #e0e0e0; 
} */

body.darkmode .config-page-container {
  background-color: #1e1e1e; 
  color: #e0e0e0; 
}
