body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
}

.header-row {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.data-row {
  display: flex;
  justify-content: space-between;
}

.dashboard-display {
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.charts-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 48%;
}

.offset-graph {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 48%;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #ffffff;
  margin: 20px;
  border-radius: 8px;
}

.dashboard-graphs {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

/* change */

.table-container {
  display: flex;
  justify-content: center; /* Center the table horizontally */
  margin: 0 auto;
  padding: 20px;
}

.table {
  display: flex;
  flex-direction: column;
  border-collapse: collapse;
  width: 600px; /* Fixed width for the table */
  /* You can also set a max-width if needed, e.g., max-width: 100%; */
}

.table-header, .table-row {
  display: flex;
  border-bottom: 1px solid #ddd;
}

.table-header div, .table-row div {
  flex: 1;
  padding: 10px;
  text-align: center;
}

.table-header {
  font-weight: bold;
  background-color: #f0f0f0;
}

.table-row:nth-child(even) {
  background-color: #f9f9f9;
}

.table-row:hover {
  background-color: #e0e0e0;
}

.table-cell {
  padding: 10px;
  /* You can set a fixed width for cells if needed */
}