# Ignore the .env file in the server directory
/server/.env

# Ignore the node_modules directory
/node_modules

#Ignore node modules in server
server/node_modules/

# Ignore TypeScript build outputs
/server/dist

# Ignore other specific directories or files if needed
/server/logs
/server/tmp

dist
package-lock.json
.DS_Store