$primary-text: #161616;
$secondary-text: #646464;

$highlight-element: #62accc;
$standard-element: #447a90;

$largest-container: #ffffff;
$medium-container: #f3f3f3;
$smallest-container: #e1e1e1;
body {
  background-color: $largest-container;
  margin-left: 2px;
  margin-right: 2px;
}
.dashboard-header-cw {
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  h1 {
    margin-right: 16px;
    font-weight: 400;
    padding-left: 20px;
    font-size: 48px;
  }
  select {
    border-radius: 8px;
    padding: 8px;
    border: 1px;
    background-color: $smallest-container;
    color: $primary-text;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  gap: 20px;
  padding: 20px;
}

.component-box-cw {
  background-color: $medium-container;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  border-radius: 8px;
  flex-grow: 1;
  h2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 400;
    padding: 20px;
  }
  .bar {
    background-color: $smallest-container;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.08);
  }
  .line {
    background-color: $smallest-container;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.08);
  }
  .pie {
    background-color: $smallest-container;
    border-radius: 8px;
    padding: 8px;
    max-height: 445px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.08);
  }
}

body.darkmode {
  .dashboard-header-cw {
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    h1 {
      margin-right: 16px;
      font-weight: 400;
    }
    select {
      border-radius: 8px;
      padding: 8px;
      border: 1px;
      background-color: #363636;
      color: #a2a2a2;
    }
  }

  .component-box-cw {
    background-color: #2a2a2a;
    border-color: #363636;
    h2 {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-weight: 400;
    }
    .bar {
      background-color: #363636;
      border-radius: 8px;
      padding: 8px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1),
        0px 1px 3px rgba(0, 0, 0, 0.08);
    }
    .line {
      background-color: #363636;
      border-radius: 8px;
      padding: 8px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1),
        0px 1px 3px rgba(0, 0, 0, 0.08);
    }
    .pie {
      background-color: #363636;
      border-radius: 8px;
      padding: 8px;
      max-height: 445px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1),
        0px 1px 3px rgba(0, 0, 0, 0.08);
    }
  }
}
