/* Refresh Button */

.refresh-button {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  cursor: pointer;
  border: 1px solid #ccc;
}

.refresh-button:hover {
  background-color: #e0e0e0;
}

.refresh-button.clicked {
  background-color: #62accc;
}

body.darkmode .refresh-button {
  background-color: #a2a2a2;
}

body.darkmode .refresh-button:hover {
  background-color: #ffffff;
}

body.darkmode .refresh-button.clicked {
  background-color: #62accc;
}

/* Missing classes:
  dashboard-header-cw
  grid-container
  component-box-cw */