:root {
  /* element colors */
  --element-h: #62accc;
  --element-s: #447a90;
  /* light mode colors */
  --light-cont-l: #ffffff;
  --light-cont-m: #f3f3f3;
  --light-cont-s: #e1e1e1;
  --light-text-prim: #161616;
  --light-text-sec: #646464;
  /* dark mode colors */
  --dark-cont-l: #161616;
  --dark-cont-m: #2a2a2a;
  --dark-cont-s: #363636;
  --dark-text-prim: #ffffff;
  --dark-text-sec: #a2a2a2;
  /* misc */
  --error: #d25d23;
  --mui-boxshadow-2: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.08);
}

/* Basic body and root styles */
body {
  background-color: var(--light-cont-l);
}

body.darkmode body {
  background-color: var(--dark-cont-l);
}

#root {
  background-color: var(--light-cont-l);
}

body.darkmode #root {
  background-color: var(--dark-cont-l);
}

/* Global dark mode styles */
body.darkmode {
  background-color: #1e1e1e;
  color: #e0e0e0;
}
