:root {
  /* element colors */
  --element-h: #62accc;
  --element-s: #447a90;
  /* light mode colors */
  --light-cont-l: #ffffff;
  --light-cont-m: #f3f3f3;
  --light-cont-s: #e1e1e1;
  --light-text-prim: #161616;
  --light-text-sec: #646464;
  /* dark mode colors */
  --dark-cont-l: #161616;
  --dark-cont-m: #2a2a2a;
  --dark-cont-s: #363636;
  --dark-text-prim: #ffffff;
  --dark-text-sec: #a2a2a2;
  /* misc */
  --error: #d25d23;
  --mui-boxshadow-2: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.08);
}

body {
  background-color: var(--light-cont-l);
}

body.darkmode body {
  background-color: var(--dark-cont-l);
}

#root {
  background-color: var(--light-cont-l);
}

body.darkmode #root {
  background-color: var(--dark-cont-l);
}

.logo {
  height: 2.7em;
  transition: filter 300ms;
}

body.darkmode .logo {
  filter: brightness(0) invert(1);
  transition: filter 300ms;
}

.logo-container {
  display: flex;
  align-items: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* navbar container */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background-color: var(--light-cont-m);
  position: relative;
  font-family: Helvetica, Arial, sans-serif;
  box-shadow: var(--mui-boxshadow-2);
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* navbar links */
#navbarLinks {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

#navbarLinks li {
  margin: 0;
}

/* navbar links */
#navbarLinks a {
  color: var(--light-text-sec);
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  font-weight: 300;
  font-size: 0.9em;
}

#navbarLinks a:hover,
#navbarLinks a:focus {
  background-color: var(--light-cont-s);
  color: var(--light-text-prim);
  text-decoration: none;
}

#navbarLinks a.active {
  background-color: var(--light-cont-s);
  color: var(--light-text-prim);
  text-decoration: none;
}

body.darkmode #navbarLinks {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

body.darkmode #navbarLinks li {
  margin: 0;
}

body.darkmode #navbarLinks a {
  color: var(--dark-text-sec);
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  font-weight: 300;
  font-size: 0.9em;
}

body.darkmode #navbarLinks a:hover,
body.darkmode #navbarLinks a:focus {
  background-color: var(--dark-cont-s);
  color: var(--dark-text-prim);
  text-decoration: none;
}

body.darkmode #navbarLinks a.active {
  background-color: var(--dark-cont-s);
  color: var(--dark-text-prim);
  text-decoration: none;
}

/* theme switch button */
#theme-switch {
  height: 30px;
  width: 30px;
  padding: 7px;
  border-radius: 50%;
  background-color: var(--base-variant);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#theme-switch svg:hover,
#theme-switch svg:focus {
  fill: #4b4b4b; /* darken of light-text-sec by 10% */
}

/* Dark mode styles */
body.darkmode {
  background-color: #1e1e1e;
  color: #e0e0e0;
}

body.darkmode .navbar {
  background-color: #333;
}

body.darkmode #navbarLinks a {
  color: #e0e0e0;
}

body.darkmode .config-page-container {
  background-color: #1e1e1e;
  color: #e0e0e0;
}

/* chat style */

.chat-container {
  border: 1px solid #ddd;
  background-color: #e1e1e1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 16px;
  margin-top: 20px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
}

.chat-title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
}

.chat-window {
  margin-bottom: 10px;
  max-height: 300px;
  overflow-y: auto;
}

.chat-message {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.chat-message .role {
  font-weight: bold;
  margin-bottom: 4px;
}

.chat-input {
  display: flex;
  gap: 10px;
  align-items: center;
}

.chat-input input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.chat-input button {
  padding: 8px 16px;
  border: none;
  background-color: #447a90;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: #62accc;
}

.chat-message p {
  margin: 0;
  padding: 5px;
  border-radius: 4px;
}

.chat-message.user p {
  background-color: #d1e7dd;
}

.chat-message.assistant p {
  background-color: #e2e3e5;
}

body.darkmode .chat-container {
  background-color: #2b2b2b;
  color: #e0e0e0;
  border-color: #444;
}

body.darkmode .chat-message {
  background-color: #444;
  color: #e0e0e0;
}

body.darkmode .chat-message.user p {
  background-color: #444;
}

body.darkmode .chat-message.user {
  background-color: #2b2b2b;
  color: #e0e0e0;
}

body.darkmode .chat-message.assistant p {
  background-color: #444;
}
body.darkmode .chat-message.assistant {
  background-color: #2b2b2b;
  color: #e0e0e0;
}

body.darkmode .chat-title {
  color: #a2a2a2;
}

@media (max-width: 768px) {
  .logo-container {
    width: 15%;
    max-width: 80px;
  }
}

@media (max-width: 480px) {
  .logo-container {
    width: 20%;
    max-width: 60px;
  }
}

.config-error {
  text-align: left;
  color: red;
  margin-left: 0;
  padding-left: 10px;
  font-size: 12px;
  position: relative;
}

.config-error::before {
  content: '⚠ ';
  display: inline-block;
  color: red;
  margin-right: 5px;
}
