// sass variables
$element-h: #62accc;
$element-s: #447a90;

$light-cont-l: #ffffff;
$light-cont-m: #f3f3f3;
$light-cont-s: #e1e1e1;
$light-text-prim: #161616;
$light-text-sec: #646464;

$dark-cont-l: #161616;
$dark-cont-m: #2a2a2a;
$dark-cont-s: #363636;
$dark-text-prim: #ffffff;
$dark-text-sec: #a2a2a2;

$error: #d25d23;
$medium: 550;

$mui-boxshadow-2: 0px 4px 6px rgba(0, 0, 0, 0.1),
  0px 1px 3px rgba(0, 0, 0, 0.08);

// light mode settings
.config-form {
  display: flex;
  flex-direction: column;
  background-color: $light-cont-m;
  padding: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 10px;
  width: 600px;
  font-family: Helvetica, Arial, sans-serif;
  box-shadow: $mui-boxshadow-2;

  input,
  select {
    border: 1px;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 5px;
    color: $light-text-sec;
    background-color: $light-cont-s;
    font-family: Helvetica, Arial, sans-serif;
    outline: none;
  }

  select:hover {
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 5px;
    color: $light-text-prim;
    border: none;
    background-color: $light-cont-m;
  }

  input:hover {
    border: 1px;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 5px;
    color: #161616;
    background-color: $light-cont-m;
  }

  input:focus {
    background-color: $light-cont-m;
    border: 2px solid $element-h;
  }

  button {
    padding: 10px;
    border-radius: 4px;
    border: none;
  }

  .config-submit-button {
    background-color: $element-s;
    color: $light-cont-l;
    font-weight: $medium;
  }
  .config-submit-button:hover {
    background-color: $element-h;
    color: $light-cont-l;
  }

  .db-button {
    background-color: darken($light-cont-s, 60);
    color: lighten($light-cont-s, 0);
    font-weight: $medium;
  }

  .db-button:hover {
    background-color: darken($light-cont-s, 55);
    color: lighten($light-cont-s, 5);
  }

  .config-error {
    color: $error;
    font-family: Helvetica, Arial, sans-serif;
  }
}

// dark mode settings
body.darkmode .config-form {
  display: flex;
  flex-direction: column;
  background-color: $dark-cont-m;
  padding: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 10px;
  width: 600px;
  font-family: Helvetica, Arial, sans-serif;
  outline: none;

  input,
  select {
    border: 1px;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 5px;
    color: $dark-text-sec;
    background-color: $dark-cont-s;
    font-family: Helvetica, Arial, sans-serif;
  }

  select:hover {
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 5px;
    color: $dark-text-sec;
    border: 2px solid $element-h;
    background-color: $dark-cont-m;
    border: none;
  }

  input:hover {
    border: 1px;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 5px;
    color: $dark-cont-m;
    background-color: $dark-cont-m;
  }

  input:focus {
    background-color: $dark-cont-m;
    border: 2px solid $element-h;
  }

  button {
    padding: 10px;
    border-radius: 4px;
    border: none;
  }

  .config-submit-button {
    background-color: $element-s;
    color: $dark-text-prim;
    font-weight: $medium;
  }
  .config-submit-button:hover {
    background-color: $element-h;
    color: $dark-text-prim;
  }

  .db-button {
    background-color: $light-cont-s;
    color: $light-text-prim;
    font-weight: $medium;
  }

  .db-button:hover {
    background-color: lighten($light-cont-s, 5);
    color: $light-text-sec;
  }

  .config-error {
    color: $error;
    font-family: Helvetica, Arial, sans-serif;
  }
}
